body {
  background: linear-gradient(45deg, rgb(143, 122, 122), rgb(221, 128, 128));
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
  
}

.col-4 {
  padding-top: 80px;
}

.container-fluid {
  width: 80%;
}

a {
  color: rgb(210, 236, 245);
}

.scroller {
  margin-top: 1vh;
  height: 60vh;
  overflow: scroll;
}

.add {
  margin-top: 20px;
  color: grey;
}
