
<h1>Welcome to Mario's Speciality Food Products!</h1>
<h2>Check out what we've got cookin...</h2>

<% if Product.three_most_recent.any? %>
  <h2>Newest additions:</h2>
  <ul>
    <% Product.three_most_recent.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% end %>

<% if Product.most_reviews %>
  <h2>Our most reviewed product:</h2>
  <ul>
    <li><%= link_to Product.most_reviews.name, product_path(Product.most_reviews) %></li>
  </ul>
<% end %>

<% if Product.usa.any? %>
  <h2>Made in the USA:</h2>
  <ul>
    <% Product.usa.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% end %>

<p><%= link_to "See all products", products_path %></p>